*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.counter{
    background-color: pink;
    display: flex;
    align-items: center;
    width: 30%;
    max-width: 40%;
    justify-content: space-between;
}
button{
    font-size: larger;
}
